.login-container {
  width: 20rem;
  padding: 2rem;
}

.login-field {
  margin-top: 1rem;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
