/* https://css-tricks.com/almanac/properties/u/user-select/ */
.secret-select {
  -webkit-user-select: all; /* Chrome all / Safari all */
  -moz-user-select: all; /* Firefox all */
  -ms-user-select: all; /* IE 10+ */
  user-select: all;
}

.secret-entry {
  margin-bottom: 1rem;
}

.secret-divider {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1rem;
}
